 
  .full-width {
    width: 20%;
  }

  .button-row {
    margin-top: 4px;
  }
  .spacer {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .list {
      width: 95%;
      border-color:  rgb(241, 240, 240);
  }

  .heading {
      text-align: center;
  }
  .strike{
    text-decoration:line-through;
    text-decoration-color: red; 
}

.icon-border {
    border-color: grey;
    border-width: 0.5px;
    background-color: white;
}

.form-field {
  font-size: 14px;
}

.button-details {
  background-color: rgb(15, 160, 71);
  color: white;
  height: 47px;
}

.list-button-details {
  color: rgb(15, 160, 71);
  text-align: right;
}



