<div class="spacer"></div>
<div class="container">

<div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center" >
   
    <form [formGroup]="groceryForm">
          
            <mat-form-field class=" form-field"  fxFlex="39%" appearance="outline">
                
                <input type="text" placeholder=" + Grocery item" matInput id="name" formControlName="name" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>

              <mat-error *ngIf="groceryForm.get('name').hasError('required') ">
                  {{errors.name}} 
              </mat-error>
            </mat-form-field>
            
            <div fxFlex="5%"></div>
            <input type="hidden" formControlName="id" id="id">

            <mat-form-field class="full-width form-field"  fxFlex="39%" appearance="outline">
                <input matInput placeholder="Add quantity" id="qty" formControlName="qty">
                <mat-error *ngIf="groceryForm.get('qty').hasError('pattern') ">
                  {{errors.qty['pattern']}} 
              </mat-error>
              <mat-error *ngIf="groceryForm.get('qty').hasError('min') ">
                {{errors.qty['min']}} 
            </mat-error>              
                <button matSuffix class="icon-border" aria-label="remove" (click)="subtractQty()">
                    <mat-icon matSuffix>remove</mat-icon>
              </button>
              <button matSuffix class="icon-border" aria-label="add" (click)="addQty()">
                 <mat-icon matSuffix>add</mat-icon>
              </button>
              </mat-form-field> 

              <div fxFlex="5%"></div>

              <div class="button-row"  fxFlex="12%">
                  <button type="submit" mat-stroked-button class="button-details" (click)="onAddItem()">Done</button>

             </div>
      
                                
        </form>
 
  </div>



<mat-list class="list">
 
  <div fxLayout="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" >
      <div *ngIf="items.length > 0">
          
          <div fxLayout.xs="column">
              <mat-list-item *ngFor="let item of items">
                <span mat-line fxFlex="92%" fxFlex.xs="88%" (click)="onStrike(item)" [ngClass]="{'strike': item.strike}"> 
                    {{item.name}} 
                    <span *ngIf="item.qty"> ({{item.qty}})</span>
                </span> 
                
                <mat-icon fxFlex="4%" fxFlex.xs="6%" (click)="onEdit(item)" class="list-button-details">mode_edit</mat-icon>
                <mat-icon fxFlex="4%" fxFlex.xs="6%" (click)="onDelete(item)" class="list-button-details">delete</mat-icon>                
                <mat-divider></mat-divider>
              </mat-list-item> 
        </div>       
      </div>
    </div>

 </mat-list>
</div>

